  /*$color-uno: #88A1CA;
        $color-dos: #AB4F64; */

        $color-purple: #c5b7dd;
        $color-darkpurple:#3f3260;
        $color-yellow: #ffde59;
        $color-grey: #e8e8e8;
        $color-blue: #c4e0e3;
        $color-white: #f8f9f9;
        $color-peach: #f0be8d;
      
        $iconsize: 1rem;
      
        $title: 3.4rem;
        $undertitle: 2rem;
        $bodysize: 1.5rem;
      
        $dmsans: "dm sans";
      