@import "./utils/extends";
@import "./utils/mixins";
@import "./utils/variables";

strong {
  font-weight: bolder;
}

i {
  font-style: italic;
}

p {
  font-size: $bodysize;
  font-family: $dmsans;
  line-height: $lineheight;
}

.souligner {
  text-decoration: underline;
}

/* SASS */

/* BODY */
.body__cv {
  margin: 1.5rem;
  background: no-repeat;
  border: 2px solid $color-black;
  color: $color-black;
  @media screen and (min-width: 1345px) {
    margin: 5rem;
  }

  /* HEADER */
  .header__cv {
    background-color: $color-purple;
    border-bottom: 2px solid $color-black;
    padding: 1.5rem;
    height: 25rem;
    @media screen and (min-width: 830px) {
      height: 20rem;
    }
    @media screen and (min-width: 1024px) {
      height: 24rem;
    }

    /*NAV.SVELTE*/
    section {
      position: relative;
      display: flex;
      flex-direction: column;
      h1 {
        display: flex;
        justify-content: center;
        color: $color-darkpurple;
        font-size: $title;
        font-family: "League Spartan";
        font-weight: 700;
        @media screen and (min-width: 830px) {
          margin-left: 25rem;
        }
        @media screen and (min-width: 1024px) {
          margin-left: 29rem;
        }
      }
      .section__h2 {
        display: flex;
        justify-content: center;
        position: relative;
        .title__h2 {
          display: flex;
          justify-content: center;
          background-color: $color-white;
          border-radius: 7px;
          top: 1rem;
          z-index: 1;
          padding: 1rem 3rem;
          position: relative;
          width: 100vw;
          @media screen and (min-width: 470px) {
            width: 80vw;
          }
          @media screen and (min-width: 830px) {
            width: 50vw;
            margin-left: 25rem;
          }
          @media screen and (min-width: 1024px) {
            margin-left: 29rem;
          }
          h2 {
            font-family: "League Spartan";
            font-weight: 700;
            font-size: $undertitle;
          }
        }
      }
    }
  }

  /* MAIN */
  main {
    position: relative;
    background-color: $color-lightpurple;
    padding: 1rem 2.5rem 2.5rem 2.5rem;
    @media screen and (min-width: 830px) {
      padding: 5rem;
    }
    @media screen and (min-width: 1024px) {
      padding: 7rem 9rem;
    }

    /*BOUTONS.SVELTE*/
    /* PRESENTATION */
    .border {
      border: 2px solid $color-black;
      margin-bottom: 5rem;
      box-shadow: 5px 5px 4px rgb(0 0 0 / 25%);
      .article__wanted {
        position: relative;
        border-left: 2rem solid $color-peach;
        padding: 2rem;
        background-color: $color-white;
        p {
          .wanted__icon {
            display: inline-block;
            margin: 0 1rem;
            top: 0.5rem;
          }
        }
      }
    }

    /*CV*/
    .section__cv {
      @media screen and (min-width: 830px) {
        display: flex;
        position: relative;
      }

      .wrapper__cvleft {
        @media screen and (min-width: 830px) {
          width: 50%;
          padding: 5rem 5rem 0rem 0rem;
          border-top: 1px solid grey;
        }

        /* ARTICLES FORMATIONS */
        .article__formations {
          margin-bottom: 5rem;
          .cv__search {
            @extend %cv__search;
            .cv__glass {
              @extend %cv__glass;
            }
            .cv__text {
              h3 {
                @extend %h3;
              }
            }
          }
          h4 {
            width: 75%;
            @media screen and (min-width: 830px) {
              width: 70%;
            }
            background-color: #f8f9f9;
            font-weight: 500;
            font-family: $league;
            font-size: clamp(1.8rem, 1.5vw + 0.5rem, 5.7rem);
            margin: 2rem;
            border-radius: 10px;
            padding: 1rem;
            text-align: center;
            color: $color-darkpurple;
            border: 1.3px solid $color-black;
          }
          .cv__experience {
            display: flex;
            flex-direction: column;
            border-left: 1px solid $color-black;
            margin-top: 2rem;
            margin-left: 5rem;
            @media screen and (min-width: 580px) {
              margin-left: 8rem;
            }
            padding-left: 2rem;
            h5 {
              @extend %h5;
            }
            .p__experience {
              display: flex;
              flex-direction: column;
            }
          }
        }

        /* ARTICLES COMPETENCES */
        .article__competences {
          margin-bottom: 5rem;
          .cv__search {
            @extend %cv__search;
            .cv__glass {
              @extend %cv__glass;
            }
            .cv__text {
              h3 {
                @extend %h3;
              }
            }
          }
          h5 {
            @extend %h5;
            margin: 0 2rem 0.5rem 2rem;
          }
          p {
            margin: 0 2rem 1rem 2rem;
          }
        }
      }

      .wrapper__cvright {
        @media screen and (min-width: 830px) {
          width: 50%;
          border-left: 1px solid grey;
          border-top: 1px solid grey;
          padding: 5rem 0rem 0rem 5rem;
        }

        /* ARTICLES EXPERIENCES */
        .article__experiences {
          margin-bottom: 5rem;
          .cv__search {
            @extend %cv__search;
            .cv__glass {
              @extend %cv__glass;
            }
            .cv__text {
              h3 {
                @extend %h3;
              }
            }
          }
          h4 {
            width: 75%;
            @media screen and (min-width: 830px) {
              width: 70%;
            }
            background-color: #f8f9f9;
            font-weight: 500;
            font-family: $league;
            font-size: clamp(1.8rem, 1.5vw + 0.5rem, 5.7rem);
            margin: 2rem;
            border-radius: 10px;
            padding: 1rem;
            text-align: center;
            color: $color-darkpurple;
            border: 1.3px solid $color-black;
          }
          .cv__experience {
            display: flex;
            flex-direction: column;
            border-left: 1px solid $color-black;
            margin-top: 2rem;
            margin-left: 5rem;
            @media screen and (min-width: 580px) {
              margin-left: 8rem;
            }
            padding-left: 2rem;
            h5 {
              @extend %h5;
            }
            .p__experience {
              display: flex;
              flex-direction: column;
            }
            .list {
              display: flex;
              ol {
                margin-left: 5rem;
                list-style: disc;
                li {
                  font-size: $bodysize;
                  font-family: $dmsans;
                  line-height: $lineheight;
                }
              }
            }
          }
        }

        /* ARTICLES LOISIRS */
        .article__loisirs {
          .cv__search {
            @extend %cv__search;
            .cv__glass {
              @extend %cv__glass;
            }
            .cv__text {
              h3 {
                @extend %h3;
              }
            }
          }
          .yoga {
            display: grid;
            grid-template-columns: 110px auto;
            grid-template-rows: 20px auto;
            grid-row-gap: 1.15rem;
            aside {
              grid-column: 1;
              grid-row: 1 / 3;
              background-image: url(./assets/images/yoga.png);
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              height: 50px;
            }
            h5 {
              grid-column: 2;
              grid-row: 1;
              gap: 0.5rem;
              @extend %h5;
            }
            p {
              grid-column: 2;
              grid-row: 2;
            }
          }

          .rpg {
            display: grid;
            grid-template-columns: 110px auto;
            grid-template-rows: 20px auto;
            padding: 2rem 2rem 2rem 0;
            grid-row-gap: 1.15rem;
            aside {
              grid-column: 1;
              grid-row: 1 / 3;
              background-image: url(./assets/images/womancomputer.png);
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              height: 50px;
            }
            h5 {
              grid-column: 2;
              grid-row: 1;
              @extend %h5;
            }
            p {
              grid-column: 2;
              grid-row: 2;
            }
          }
        }

        /* ARTICLES SOFT KILLS */
        .article__softskills {
          margin-bottom: 5rem;
          @media screen and (min-width: 830px) {
            margin-bottom: 0;
          }

          .cv__search {
            @extend %cv__search;
            .cv__glass {
              @extend %cv__glass;
            }
            .cv__text {
              h3 {
                @extend %h3;
              }
            }
          }
          ul {
            display: flex;
            flex-wrap: wrap;
            margin: 0 2rem;
            gap: 0 1rem;
            text-align: center;
            font-size: $bodysize;
            font-family: $dmsans;
            line-height: $lineheight;
            li {
              flex-grow: 1;
              @include softskills(
                $bcg: $color-white,
                $bdr: $color-darkpurple,
                $color: $color-black
              );
            }
          }
        }
      }
    }
  }
}
